<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script>
        $(function () {
            var vm = new Vue({
                el: "#div1",
                data: {
                    message: "加油！加油！",
                    select: "B"
                },
            });
        });
    </script>
</head>
<body>
    <span id="div1" v-bind:title="message">
        <input type="text" v-model="message">  {{message}}
        <select v-model="select">
            <option>A</option>
            <option>B</option>
            <option>C</option>
        </select>
        {{select}}
    </span>
</body>
</html>