<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration><!--根标签-->

    <properties resource="jdbc.properties"/><!--properties标签需要加在根标签首位-->
    <!--配置 mybatis 环境-->
    <!--settings:控制mybatis全局行为-->
    <settings>
        <!--设置mybatis输出日志-->
        <setting name="logImpl" value="STDOUT_LOGGING"/>
    </settings>

    <!--设置别名-->
    <typeAliases>
        <!--name:实体类所在的包名(不是实体类的包名也可以)-->
        <package name="com.bjpowernode.domain"/>
    </typeAliases>

    <!--分页插件-->
   <!-- <plugins>
        <plugin interceptor="com.github.pagehelper.PageInterceptor"/>
    </plugins>-->

    <!--default:默认使用哪一套配置信息-->
    <environments default="mysql">
        <!--environment:一个数据库信息的配置，环境-->
        <!--id:唯一值，自定义，表示环境的名称-->
        <environment id="mysql">
            <!--配置事务类型：使用 JDBC 事务（使用 Connection 的提交和回滚）-->
            <transactionManager type="JDBC"/>
            <!--数据源 dataSource：创建数据库 Connection 对象
              type: POOLED 使用数据库的连接池-->
            <dataSource type="POOLED">
                <!--连接数据库的四个要素-->
                <property name="driver" value="${jdbc.mysql.driver}"/>
                <property name="url" value="${jdbc.mysql.url}"/>
                <property name="username" value="${jdbc.mysql.username}"/>
                <property name="password" value="${jdbc.mysql.password}"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <!--告诉 mybatis 要执行的 sql 语句的位置，一个mapper标签指定一个文件的位置
            从类路径开始的路径信息。target/classes(类路径)-->
        <!--<package name="com.ys.dao"/>-->
        <mapper resource="com/ys/dao/StudentDao.xml"/>
    </mappers>
</configuration>