<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>常见属性</title>
</head>
<body>
<!--传统写法-->
<form method="get" action="http://localhost:8080/user/test1">
    用户id：<input type="text" name="id"/><br>
    用户名：<input type="text" name="name"/><br>
    用户年龄：<input type="text" name="age"/>
    <input type="submit" value="submit"/>
</form>
<hr>
<!--使用th:action属性-->
<form method="get" th:action="@{/user/test1}">
    用户id：<input type="text" name="id"/><br>
    用户名：<input type="text" name="name"/><br>
    用户年龄：<input type="text" name="age"/>
    <input type="submit" value="submit"/>
</form>
<hr>
<input type="button" value="弹窗" th:onclick="pop()"/>
</body>
<script type="text/javascript">
    pop = function () {
        alert("---");
    }
</script>
</html>