<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ys.mybatisplus.mapper.UserMapper">
    <select id="selectDeleted" resultType="com.ys.mybatisplus.domain.User">
        select * from user where del_flag=1
    </select>
</mapper>